<launch>

  <!-- Set driver params for 320x240@30Hz (5) or 640x480@30Hz (2) and data_skip for a variable Hz frame rate -->

  <param name="/camera/driver/image_mode" value="5" /> <!-- 2 is default -->
  <param name="/camera/driver/depth_mode" value="5" /> <!-- 2 is default -->
	<param name="/camera/driver/data_skip" value="2" /> <!-- 10 fps -->

  <include file="$(find openni_launch)/launch/openni.launch">
     <arg name="depth_registration" value="true"/>
  </include>

</launch>
